<div class="flex justify-between items-center mx-20">
  <!-- Regular Menu (Visible on Large Screens) -->
  <div class="flex items-center space-x-4 -mt-4 menu">
    <!-- Your existing menu items for larger screens here -->
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">من نحن</a>
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">تواصل معنا</a>
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">كيفية الاشنراك</a>
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">إختبار مستوي</a>
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">الدورات</a>
    <a href="#" class="block mb-2 text-white hover:text-orange-500 text-xl">الرئيسية</a>
    <!-- Add more items here for larger screens -->
  </div>

  <!-- Logo -->
  <div class="pt-5">
    <!-- Your logo or other content here -->
  </div>
</div>
