<div class="flex justify-between items-center mx-20">
  <div class="flex items-center space-x-4 -mt-4">

    <!-- Language -->
    <div class="flex items-center space-x-2">
      <img src="assets/images/userplus.png" alt="Logo" class="w-7 h-7">
    </div>

    <!-- Language -->
    <div class="flex items-center space-x-2">
      <img src="assets/images/user.png" alt="Logo" class="w-7 h-7">
    </div>

    <!-- Language -->
    <div class="flex items-center space-x-2 relative">
      <img src="assets/images/basket.png" alt="Logo" class="w-7 h-7">
      <p class="absolute -top-2 -left-4 text-white rounded-full p-0 w-5 h-5 text-sm basketnum">12</p>
    </div>

    <!-- Language -->
    <div class="flex items-center space-x-2">
      <img src="assets/images/whitelist.png" alt="Logo" class="w-7 h-7">
    </div>

    <!-- Language -->
    <div class="flex items-center space-x-2">
      <img src="assets/images/lang.png" alt="Logo" class="w-7 h-7">
    </div>

  </div>

  <!-- Logo -->
  <div class="pt-5">
    <img src="assets/images/logo.png" alt="Logo" class="w-52 h-24">
  </div>
</div>
