.basketnum{
    background: transparent linear-gradient(180deg, #FF9966 0%, #CC6633 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal 11px/16px Secular One;
    letter-spacing: 0px;
    opacity: 1;
}
