<div class="flex flex-col md:flex-row justify-center items-center mx-20 py-8">
  <!-- Left Div (Responsive Image) -->
  <div class="w-full md:w-1/2">
    <img src="assets/images/landingpage background.png" alt="Image" class="w-full h-auto">
  </div>

  <!-- Right Div (Title, Subtitle, Input) -->
  <div class="w-full md:w-1/2 -mt-4">
    <h1 class="text-5xl font-bold text-right text-white pb-16">
      منصة المقيـــــاس
    </h1>
    <p class="text-3xl text-right text-white pb-20">
      شـــاملة علي جميــع المواد  <br>التعليمية و تحتوي علي مختلف<br> الخدمات و طرق التعليم
    </p>
    <div class="relative text-right">
      <input type="text" class="w-96 p-2 mt-2 focus:outline-none p-5 text-right pe-16 searchinput" placeholder="البحث">
      <img src="assets/images/Icon-Search.png" alt="Image" class="w-14 h-14 rounded-full p-4 absolute right-1 top-3 btnsearch">
    </div>
  </div>

</div>
